@import '../../style/variables.scss';

.dropdown {
    max-width: 220px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    margin-bottom: 10px;

    &:hover img {
        transform: rotate(180deg);
    }

    &.active {
        &:not(.catalog) .dropdown__menu {
            height: 230px;
        }

        &.catalog .dropdown__menu{
            height: 160px;
            border-radius: 6px;
            overflow: hidden;
        }

        & img {
            transform: rotate(180deg);
        }
    }
}

.dropdown__menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    transition: 0.2s linear;
    height: 0;
    overflow: auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: $dropdown-color;
    z-index: 2;

    &-item {
        font-size: 18px;
        text-transform: capitalize;
        padding: 8px 15px;
        cursor: pointer;
        transition: .2s linear;

        &:hover {
            color: $hover-color;
            transform: translateY(-3px);
        }
    }

    img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    .active {
        color: $hover-color;
    }
}

.dropdown__menu {
    scrollbar-width: 4px;
    scrollbar-color: $hover-color $scroll-bg;
}

.dropdown__menu::-webkit-scrollbar {
    width: 4px;
}

.dropdown__menu::-webkit-scrollbar-track {
    background: $scroll-bg;
    border-radius: 3px;
}

.dropdown__menu::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    border-radius: 3px;
}

.dropdown__current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    background-color: $dropdown-color;
    padding: 8px 15px;
    border-radius: 6px;
    width: auto;

    img {
        transition: .2s linear;
        width: 15px;
        height: 10px;
        margin-top: 4px;
        margin-left: 7px;
    }
}

@media (max-width: 768px) {
    .dropdown {
        max-width: 160px;

        &.active {
            &.catalog .dropdown__menu{
                height: 120px;
            }
        }
    }

    .dropdown__menu {
        position: absolute;
        top: 50px;
    
        &-item {
            font-size: 16px;
            text-transform: capitalize;
            padding: 5px 12px;
            cursor: pointer;
            transition: .2s linear;
    
            &:hover {
                color: $hover-color;
                transform: translateY(-3px);
            }
        }
    }
    
    .dropdown__current {
        font-size: 18px;
        padding: 5px 12px;
    }
    
}