.error-num {
    font-size: 8em;
}

.eye__flex {
    margin: 0 auto;
    width: 264px;
}

.eye__margin {
    margin-top: 100px;
}

.error__eye {
    display: flex;
    height: 145px;
    width: 264px;
}

.eye__block {
    padding-top: 30px;
}

.eye {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    position: relative;
    width: 100px;
    &::after {
        background: #000;
        border-radius: 50%;
        bottom: 56.1px;
        content: '';
        height: 33px;
        position: absolute;
        right: 33px;
        width: 33px;
    }
}