.genre__slider {
    margin-top: 0;
}

.genre__title {
    margin-top: 55px;
    margin-bottom: -25px;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.films__item {
    &-name {
        margin-top: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }
}