@import '../../style/variables';

.skeleton {
    display: flex;
    justify-content: space-between;

    &--main {
        padding: 0 15px;
        height: calc(100vh - 110px);
        max-height: 900px;
        margin-top: 100px;
    }

    &--choose {
        padding: 0;
        align-items: flex-end;
        margin-top: 0;
    }

    &--actor {
        margin-top: 0;
        padding: 0;
        height: auto;
        align-items: flex-end;
        justify-content: initial;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 30px);

        &--choose {
            justify-content: flex-end;
        }
    }
    &__title {
        margin-top: 60px;
        width: 350px;
        height: 100px;
        background-color: $skeleton-bg;
        border-radius: 10px;
        margin-bottom: 30px;
        &--choose {
            margin-top: 50px;
            height: 50px;
            width: 200px;
        }
        &--actor {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__subtitle {
        width: 170px;
        height: 33px;
        margin-bottom: 40px;
        margin-top: 10px;
        background-color: $skeleton-bg;
        border-radius: 10px;
    }
    &__text {
        width: 500px;
        height: 100px;
        background-color: $skeleton-bg;
        border-radius: 10px;
        margin-bottom: 30px;

        &--choose {
            width: 600px;
            height: 200px;
        }
    }
    &__rating {
        background-color: $skeleton-bg;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 280px;
    }
    &__btns {
        width: 340px;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        height: 55px;
        width: 200px;
        border-radius: 40px;
        background-color: $skeleton-bg;
    }
    &__btn2 {
        width: 120px;
        height: 50px;
        border-radius: 40px;
        background-color: #C4C4C4;
    }
    &__img {
        height: calc(100% - 30px);
        width: 550px;
        background-color: $skeleton-bg;
        border-radius: 10px;
        &-actor {
            width: 350px;
            height: 520px;
            background-color: $skeleton-bg;
            border-radius: 10px;
            margin-right: 40px;
        }
    }
    &__block {
        width: 182px;
        height: 256px;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
        border: 4px solid transparent;
        background-color: $skeleton-bg;
    }
    &__block2 {
        width: 182px;
        height: 256px;
        border-radius: 15px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
        border: 4px solid transparent;
        background-color: $skeleton-bg;
    }
    &__choseFilm {
        height: 525px;;
        width: 350px;
        background-color: $skeleton-bg;
        border-radius: 10px;
        margin-right: 60px;
        margin-bottom: 0;
    }
    &__table {
        display: flex;
        justify-content: space-between;
        &-left, &-right {
            max-width: 300px;
            width: 100%;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &-item {
            background-color: $skeleton-bg;
            height: 20px;
            width: 70px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
    }
    &__video {
        max-width: 1420px;
        width: 100%;
        margin-top: 10px;
        background-color: $skeleton-bg;
        height: 550px;
        border-radius: 10px;
    }
}

.skeleton__search-block {
    height: 100px;
    width: 80px;
}

@media (max-width: 1169px) {
    .skeleton {
        &__text {
            &--choose {
                width: 400px;
            }
        }
        &__title {
            width: 200px;
        }
        &__subtitle {
            width: 100px;
        }
        &__choseFilm {
            margin-right: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .skeleton {
        &__text {
            &--choose {
                width: 300px;
                height: 150px;
            }
        }
        &__title {
            width: 100px;
            height: 60px;
        }
        &__subtitle {
            width: 60px;
            height: 30px;
        }
    }
}

@media (max-width: 768px) {
    .skeleton {
        &__choseFilm {
            height: 300px;
        }

        &--choose {
            height: 350px;
        }

        &__video {
            height: 350px;
        }
    }
}

@media (max-width: 580px) {
    .skeleton {
        &__choseFilm {
            display: none;
        }
        &__table {
            &-left {
                display: none;
            }
            &-right{
                max-width: none;
            }
        }
    }
}

@media (max-width: 558px) {
    .skeleton {
        &--actor {
            align-items: center;
            justify-content: center;
        }

        &__img {
            &-actor {
                margin-right: 0;
                height: 400px;
            }
        }

        &__rating {
            margin-bottom: 170px;
        }

        &__title {
            &--choose {
                height: 30px;
            }
        }

        &__table {
            &-item {
                margin-bottom: 20px;
            }
        }
    }
    
}

@media (max-width: 535px) {
    .skeleton {
        &__block2 {
            width: 124px;
            height: 185px;
            border-radius: 8px;
            margin: 0 auto;
            margin-top: 10px;;
            border: 2px solid transparent;
            background-color: $skeleton-bg;
        }
    }
}

@media (max-width: 415px) {
    .skeleton {
        display: flex;
        justify-content: space-between;
        &--main {
            margin-top: 0px;
            height: 500px;
            max-height: none;
        }
        &--actor {
            height: auto;
            justify-content: center;
        }
        &__rating {
            display: none;
        }
        &__video {
            height: 250px;
        }
        &--choose {
            height: 350px;
        }
        &__img {
            display: none;
        }
        &__header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 20px;
            height: 500px;
            &--actor {
                justify-content: center;
                height: auto;
            }
        }
        &__title {
            margin-top: 30px;
            background-color: $skeleton-bg;
            border-radius: 10px;
            margin-bottom: 10px;

            &--choose {
                margin-bottom: 20px;
            }
        }
        &__text {
            width: 370px;
            height: 100px;
            background-color: $skeleton-bg;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        &__btns {
            width: 340px;
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__btn {
            height: 55px;
            width: 200px;
            border-radius: 40px;
            background-color: $skeleton-bg;
        }
        &__btn2 {
            width: 120px;
            height: 50px;
            border-radius: 40px;
            background-color: #C4C4C4;
        }
        &__block {
            width: 124px;
            height: 185px;
            border-radius: 8px;
            margin: 0 auto;
            margin-top: 10px;;
            border: 2px solid transparent;
            background-color: $skeleton-bg;
        }
        &__block2 {
            width: 114px;
            height: 180px;
            border-radius: 8px;
            margin: 0 auto;
            margin-top: 10px;;
            border: 2px solid transparent;
            background-color: $skeleton-bg;
            margin-bottom: 20px;
        }
        &__choseFilm {
            height: 525px;;
            width: 350px;
            background-color: $skeleton-bg;
            border-radius: 10px;
        }
    }
    
    .skeleton__search-block {
        height: 100px;
        width: 80px;
    }
}