@import '../../style/variables';

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.clean {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 8px;

    &:hover img {
        transform: rotate(180deg);
    }

    &__text {
        font-weight: 600;
        margin-right: 10px;
        font-size: 18px;
    }

    &__img {
        width: 26px;
        height: 26px;

        img {
            transition: .2s linear;
            margin-top: 2px;
            width: 26px;
            height: 26px;
        }
    }
}

@media (max-width: 415px) {
    .filter {
        margin-top: 20px;
    }
}