@import '../../style/variables';

header {
    height: 100px;
    position: relative;
    z-index: 5;

    &:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: -120px;
        background: linear-gradient(180deg,#000 3.31%,rgba(0,0,0,.99)7.71%,rgba(0,0,0,.96)12.11%,rgba(0,0,0,.91)16.51%,rgba(0,0,0,.85)20.91%,rgba(0,0,0,.76)25.31%,rgba(0,0,0,.67)29.71%,rgba(0,0,0,.55)34.11%,rgba(0,0,0,.44)38.52%,rgba(0,0,0,.33)42.92%,rgba(0,0,0,.23)47.32%,rgba(0,0,0,.15)51.72%,rgba(0,0,0,8%)56.12%,rgba(0,0,0,3%)60.52%,rgba(0,0,0,1%)64.92%,rgba(0,0,0,0)69.32%);
        z-index: -1;
    }
}

.header__link {
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;

    &:hover{
        background: $hover-color;
        color: #050801;
        box-shadow: 0 0 5px $hover-color,
                    0 0 25px $hover-color,
                    0 0 50px $hover-color,
                    0 0 200px $hover-color;
        -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    }
}

.header__inner {
    max-width: 1440px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    &-logo {
        margin-right: 65px;
    }

    &-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
    }

    &-account {
        display: flex;
        align-items: center;
    }
}

.header__account {
    &-img {
        width: 19px;
        height: 19px;
        margin-right: 30px;

        path {
            transition: .1s linear;
        }
    }
}

.search {
    position: relative;
    z-index: 20;

    &.active {
        & .search__menu {
            height: 410px;
        }
    }
}

.search__menu {
    position: absolute;
    z-index: 20;
    top: 40px;
    transition: 0.4s ease;
    height: 0;
    right: 10px;
    width: 288px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: $dropdown-color;

    &-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        padding-bottom: 0;

        &:hover {
            color: $hover-color;
            
            .search__item-name {
                transform: translateY(-5px);
            }
        }
    }

    .mb {
        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    .search__item-name {
        font-size: 18px;
        font-weight: 600;
        transition: .2s linear;
    }

    .search__item-img {
        margin-right: 20px;
        height: 120px;

        img {
            width: 80px;
            border-radius: 5px;
            height: 120px;
            object-fit: cover;
        }
    }

    .search__item-group {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .search__item-rating {
        margin-right: 10px;
        font-size: 15px;
        color: #f49f35;
        font-weight: 600;
    }

    .search__item-year {
        font-size: 15px;
        color: #9a9a9a;
        font-weight: 600;
    }

    .rating__green {
        color: #00b00c;
    }

    .rating__yellow {
        color: #d69d16;
    }

    .rating__red {
        color: #cf2727;
    }
}

.search__current {
    position: relative;
    transition: width .55s ease;

    .header__account-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        padding-left: 30px;
        background-color: transparent;
        border: none;
        transition: width .55s ease;
        width: 35px;
        height: 35px;
        color: #fff;
        font-weight: 500;
        font-size: 17px;
        padding-right: 5px;

        &::placeholder {
            font-size: 17px;
            font-weight: 500;
        }

        &.focus {
            width: 188px;
        }
    }

    &:hover {
        input {
            width: 188px;
        }
    }
}

.search__menu {
    scrollbar-width: 4px;
    scrollbar-color: $hover-color $scroll-bg;
}

.search__menu::-webkit-scrollbar {
    width: 4px;
}

.search__menu::-webkit-scrollbar-track {
    background: $scroll-bg;
    border-radius: 3px;
}

.search__menu::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    border-radius: 3px;
}

.noneTitle {
    margin: auto 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.cleanInput {
    position: absolute;
    opacity: 0;
    right: 20px;
    width: 16px;
    height: 16px;
    top: 11px;
    cursor: pointer;
    transition: .2s linear;

    &:hover img {
        transform: rotate(90deg);
    }
    
    img {
        transition: .2s linear;
        width: 16px;
        height: 16px;
    }

    &--active {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .header__item {
        &-logo {
            margin-right: 55px;
        }
    
        &-text {
            font-size: 16px;
        }
    }
}

@media (max-width: 580px) {
    header {
        height: 75px;
    }

    .header__inner {
        height: 75px;
    }

    .header__item {
        &-logo {
            img {
                max-width: 150px;
            }
        }
    }

}

@media (max-width: 415px) {
    header {
        height: 70px;
    }

    .header__inner {
        height: 70px;
        padding-left: 10px;
    }

    .header__item-adaptive {
        display: none;
    }

    .header__item {
        &-text {
            font-size: 15px;
        }
        &-logo {
            img {
                max-width: 130px;
            }
        }
    }

    .cleanInput {
        right: 10px;
        width: 14px;
        height: 14px;
        top: 10px;
    
        &:hover img {
            transform: rotate(90deg);
        }
        
        img {
            transition: .2s linear;
            width: 16px;
            height: 16px;
        }
    
        &--active {
            opacity: 1;
        }
    }

    .search.active .search__menu {
        width: 220px;
        height: 270px;
    }

    .search__menu {
        width: 220px;
    }

    .search__menu .search__item-name {
        font-size: 16px;
    }

    .search__current {
        input {
            padding-left: 24px;
            background-color: transparent;
            border: none;
            transition: width .55s ease;
            width: 0;
            height: 35px;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
    
            &::placeholder {
                font-size: 15px;
                font-weight: 500;
            }
    
            &.focus {
                width: 145px;
            }
        }
    
        &:hover {
            input {
                width: 145px;
            }
        }
    }
}