@import './variables.scss';

.btn__flex {
    margin-top: 40px;
    display: flex;
    max-width: 340px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.watch__btn {
    width: 200px;
    height: 55px;
    background: $hover-color;
    border-radius: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.04em;
    outline: none;
    border: none;
    cursor: pointer;

    img {
        margin-right: 12px;
    }
}

.trailer__btn {
    width: 120px;
    height: 50px;
    
    border: 1px solid #FFFFFF;
    border-radius: 41px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.04em;
    outline: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .watch__btn {
        width: 160px;
        height: 45px;
        font-size: 16px;
        line-height: 23px;
    }
    
    .trailer__btn {
        width: 110px;
        height: 40px;
        border-radius: 40px;
        font-size: 16px;
    }

    .btn__flex {
        margin-top: 20px;
    }
}