.film__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 900px;
}
.spinnerUpdate {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: -100px;
}
